<template name="alumnosNotas">	  

  <!-- ******************MODAL EDITAR MATERIA********************************-->
  <div class="modal" id="modalCargarNota" role="dialog">
    <div class="modal-dialog modal-md">										    
  
      <!-- Modal content-->
      <div class="modal-content">
        <form class="form" id="formCargarNota">			
        <div class="modal-body">
      <div class="panel panel-warning">
          <div class="panel-heading">
            <button type="button" class="close" data-dismiss="modal">&times;</button>          
            <h3>Cagar Nota de <strong>{{alumnoNota}}</strong></h3>
          </div>					  	
          <div class="panel-body">            
              <div class="form-group col-lg-4">
                <label>NOTA</label>
                <input type="number" min="1" max="10" class="form-control" id="nota">
              </div>
             
          </div>
      </div>
        </div> 
  
        <div class="modal-footer">
      <button type="submit" id="submit" class="btn btn-success">Guardar</button>						        	
      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>   
    </form>	       
          
      </div>
      
    </div>
  </div>


    {{#with mesa}}
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Cantidad de alumnos anotados en <strong>{{nombreMateria}}</strong></h3></div>
          <div class="panel-body">
            <table class="table table-hover">	
              <thead>
                <tr>
                      <th class="#80cbc4 teal-text">ALUMNO</th>
                      <th class="#80cbc4 teal-text">NOTA</th>
                      <th class="#80cbc4 teal-text">ESTADO</th>
                      <th class="#80cbc4 teal-text">OPCIONES</th>	
                  
                                                  
                </tr>
              </thead>			
                <tbody>		    	
                    {{#each alumnosMesa}}
                    <tr>
                      <td>{{nombreApellido}}</td>
                      <td>{{nota}}</td>
                      <td>{{estado}}</td>

                      <td><a href="#"> <button class="modalCargarNota btn btn-success btn-xs">Cargar nota</button></a></td>
                    </tr>
                        {{/each}}
                 
                </tbody>	
            </table>
          </div>
        </div>
    {{/with}}
  
  
  
  </template>